body {
    margin: 0;
    font-family: 'Ubuntu';
}

header {
    height: 58px;
    width: 100%;
    position: fixed;
    background-color: #278ece;
    z-index: 99;
}

header .content {
    display: flex;
    justify-content: space-between;
}

.company {
    display: flex;
}

.content {
    width: 1100px;
    margin: 0 auto;
}

.logo {
    margin: 10px 0;
}

.search {
    height: 38px;
    width: 350px;
    margin: 10px 57px;
    border-radius: 19px;
    border: 0;
    background-color: #1b6ea1;
    background-image: url("/html/img/search.svg");
    background-repeat: no-repeat;
    background-position: left;
    border-left: 17px solid transparent;
    padding-left: 50px;
    outline: none;
}

.search::placeholder {
    color: #86a1bf;
}

.search:focus {
    background-color: white;
}

.arrow {
    width: 8px;
    height: 8px;
    border-top: 2px solid #a0cde9;
    border-right: 2px solid #a0cde9;
    transform: rotate(135deg);
}

.user {
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.avatar-small {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    margin: 0 8px 0 16px;
}

.top-menu {
    position: absolute;
    background-color: white;
    top: 70px;
    right: 0;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    width: 170px;
    display: none;
}

.top-menu:before, .top-menu:after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 100%;
    border: solid transparent;
}

.top-menu:before {
    right: 30px;
    border-width: 6px;
    border-bottom-color: #e8e8e8;
}

.top-menu:after {
    right: 31px;
    border-width: 5px;
    border-bottom-color: white;
}

.top-menu ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.top-menu ul li {
    padding: 6px 25px;
}

.top-menu ul li:hover {
    background-color: #e9f4fa;
}

.top-menu ul li a {
    text-decoration: none;
    color: #278ece;
    font-weight: normal;
}

@media only screen and (max-width: 320px) {
    .content {
        width: 100%;
    }

    .search {
        display: none;
    }

    .logo {
        margin-left: 10px;
    }

    .user {
        margin-right: 10px;
    }
}