main {
    padding-top: 91px;
}

h1 {
    font-size: 24px;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-data {
    width: 585px;
    height: 525px;
    border: 1px solid #e8e8e8;
    padding: 0 25px;
    font-size: 14px;
    box-shadow: 0 10px 50px 10px rgba(0,0,0, 0.1);
    position: relative;
    border-radius: 4px;
}

.status-input {
    font-size: 14px;
    border: 1px solid #e8e8e8;
    outline: none;
    margin-bottom: 16px;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding-left: 15px;
}

.status-confirm {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    border: unset;
    background-color: #278ece;
    cursor: pointer;
    outline: none;
}

.status-form {
    display: none;
    padding: 14px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    width: 400px;
    height: 80px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    background-color: #fafafa;
    left: 15px;
    top: 50px;
}

#current-status {
    color: #a0a0a0;
    font-size: 16px;
}

.profile-data table {
    color: #a0a0a0;
    margin-bottom: 22px;
}

.profile-data table td {
    min-width: 174px;
    padding: 10px 0;
    font-size: 14px;
}

.profile-data table td a {
    text-decoration: none;
    color: #278ece;
}

.profile-data h4 {
    margin: 0;
    min-width: max-content;
    font-size: 14px;
}

.flex {
    display: flex;
    align-items: center;
}

.profile-data .line {
    border-top: 1px solid #e8e8e8;
    width: 100%;
    margin-left: 20px;
}

.profile-data p {
    color: #a0a0a0;
    font-size: 13px;
}

.profile-photo {
    box-shadow: 0 10px 50px 10px rgba(0,0,0, 0.1);
    width: 330px;
    height: 475px;
    border: 1px solid #e8e8e8;
    padding: 25px;
    border-radius: 4px;
}

.gallery {
    box-shadow: 0 10px 50px 10px rgba(0,0,0, 0.1);
    border: 1px solid #e8e8e8;
    padding: 0 25px 18px 25px;
    margin-top: 34px;
}

.gallery h4 {
    margin: 16px 0;
    border-radius: 4px;
}

.gallery-photos img {
    margin: 0 12px;
}

.gallery-photos img:first-child {
    margin-left: 0;
}

.gallery-photos img:last-child {
    margin-right: 0;
}

.wall {
    margin-top: 30px;
}

.post {
    box-shadow: 0 10px 50px 10px rgba(0,0,0, 0.1);
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-bottom: 35px;
    padding: 25px;
    position: relative;
}

.post-card {
    display: flex;
    align-items: center;
}

.post-datetime {
    display: block;
    font-size: 14px;
    color: #999999;
}

.post-name {
    color: #278ece;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.post-info {
    margin-left: 20px;
}

.post-content {
    font-size: 14px;
    color: #333333;
}

.post-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.comment-form-name {
    width: 100%;
    height: 42px;
    outline: none;
    box-shadow: 0 10px 50px 10px rgba(0,0,0, 0.1);
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding-left: 28px;
}

.comment-form-name::placeholder {
    color: #999999;
}

.comment-form-text {
    width: 100%;
    outline: none;
    box-shadow: 0 10px 50px 10px rgba(0,0,0, 0.1);
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    resize: none;
    padding: 20px 28px;
    height: 126px;
}

.comment-form-text::placeholder {
    font-family: 'Ubuntu';
    color: #999999;
}

.comment-form-submit {
    width: 160px;
    height: 38px;
    border-radius: 4px;
    color: white;
    background-color: #278ece;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 3px;
    background-color: #ff575d;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

footer {
    height: 58px;
    width: 100%;
    background-color: #278ece;
    color: white;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 320px) {
    .profile {
        flex-direction: column-reverse;
    }

    .profile-photo {
        width: 80%;
        padding: 5%;
        margin: 0 auto 20px auto;
        height: max-content;
    }

    .profile-photo img {
        width: 100%;
    }

    main {
        padding-top: 75px;
    }

    .profile-data {
        width: 80%;
        height: max-content;
        padding: 5%;
        margin: auto;
    }

    .profile-data table tr {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .profile-data table td {
        padding: 0;
    }

    .gallery {
        width: 80%;
        height: max-content;
        padding: 5%;
        margin: 30px auto 0 auto;
    }

    .gallery-photos {
        display: flex;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .gallery-photos::-webkit-scrollbar {
        display: none;
    }

    .gallery-photos img {
        width: 180px;
        height: 180px;
    }

    .comments, #comment-form {
        width: 90%;
        height: max-content;
        margin: auto;
    }

    .wall {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .comment-form-submit {
        width: 100%;
    }

    footer span {
        margin-left: 20px;
    }
}

